<div class="container">
  <div class="row">
    <div class="col text-center">
      <p>counter works!</p>
      <!-- <div class="col-lg-6"> -->
      <button class="btn btn-dark" (click)="setCount()">Counter</button>
      <button class="btn btn-info" (click)="setDirect()">Directory</button>
      <!-- </div> -->
    </div>
  </div>

</div>

<div class="container" *ngIf="isCount">
  <h1>Let's Count!</h1>
  <div class="row text-center">
    <div class="col-4" (click)="decrementNum()">
      <div class="btn btn-danger">Increment</div>
    </div>
    <div class="col-4">
      <p>{{answer}}</p>
    </div>
    <div class="col-4" (click)="incrementNum()">
      <div class="btn btn-success">Decerement</div>
    </div>
  </div>
</div>

<div class="container" *ngIf="isDirect">

  <p>Currently 404: main works! Everything in our router-outlet should be here...</p>

  <!-- <ngb-accordion [closeOthers]="true" activeIds="">
        <ngb-panel id="static-1" title="Simple" (click)="setNames(0)">
          <ng-template ngbPanelContent>
            <p>First Name: <strong>{{!firstName ? "click a name to see details" : firstName}}</strong></p>
            <p>Last Name: <strong>{{!lastName ? "click a name to see details" : lastName}}</strong></p>
            <p>Slack Name: <strong>{{!slackName ? "click a name to see details" : slackName}}</strong></p>
            <p>Email: <strong>{{!email ? "click a name to see details" : email}}</strong></p>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-2">
          <ng-template ngbPanelTitle>
            <span>&#9733; <b>Fancy</b> title &#9733;</span>
          </ng-template>
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-3" title="Disabled" [disabled]="true">
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </ng-template>
        </ngb-panel>
      </ngb-accordion> -->

  <div class="row d-flex justify-content-center">
    <div class="col-lg-12">
      <p>First Name: </p><input type="text" #fn>
      <p>Last Name: </p><input type="text" #ln>
      <p>Slack Name: </p><input type="text" #sn>
      <p>Email: </p><input type="text" #em>
    </div>
    <div class="btn btn-info" (click)="addStudent(fn.value, ln.value, sn.value, em.value)">Add Student +</div>
    <div class="col-lg-6">

    </div>
  </div>

  

  <div class="row" *ngIf="thePeople.length > 0">
    <div class="col-lg-4">
      <div *ngFor="let person of thePeople; let i = index">
        <!-- BIGGEST -->
        <p (click)="setNames(i)">{{person.first}}</p>
      </div>

    </div>
    <div class="col-lg-8">
      <p>First Name: <strong>{{!firstName ? "click a name to see details" : firstName}}</strong></p>
      <p>Last Name: <strong>{{!lastName ? "click a name to see details" : lastName}}</strong></p>
      <p>Slack Name: <strong>{{!slackName ? "click a name to see details" : slackName}}</strong></p>
      <p>Email: <strong>{{!email ? "click a name to see details" : email}}</strong></p>
    </div>
  </div>


  <!-- <div class="row">
    <div class="col-lg-4">
      <p class="name" (click)="setNames(0)"><b>{{getFirstName(0)}}</b></p>
      <p class="name" (click)="setNames(1)"><b>{{getFirstName(1)}}</b></p>
      <p class="name" (click)="setNames(2)"><b>{{getFirstName(2)}}</b></p>
      <p class="name" (click)="setNames(3)"><b>{{getFirstName(3)}}</b></p>
      <p class="name" (click)="setNames(4)"><b>{{getFirstName(4)}}</b></p>
      <p class="name" (click)="setNames(5)"><b>{{getFirstName(5)}}</b></p>
      <p class="name" (click)="setNames(6)"><b>{{getFirstName(6)}}</b></p>
      <p class="name" (click)="setNames(7)"><b>{{getFirstName(7)}}</b></p>
      <p class="name" (click)="setNames(8)"><b>{{getFirstName(8)}}</b></p>
      <p class="name" (click)="setNames(9)"><b>{{getFirstName(9)}}</b></p>
      <p class="name" (click)="setNames(10)"><b>{{getFirstName(10)}}</b></p>
      <p class="name" (click)="setNames(11)"><b>{{getFirstName(11)}}</b></p>
      <p class="name" (click)="setNames(12)"><b>{{getFirstName(12)}}</b></p>
      <p class="name" (click)="setNames(13)"><b>{{getFirstName(13)}}</b></p>
      <p class="name" (click)="setNames(14)"><b>{{getFirstName(14)}}</b></p>
    </div>
    <div class="col-lg-8">
      <p>First Name: <strong>{{!firstName ? "click a name to see details" : firstName}}</strong></p>
      <p>Last Name: <strong>{{!lastName ? "click a name to see details" : lastName}}</strong></p>
      <p>Slack Name: <strong>{{!slackName ? "click a name to see details" : slackName}}</strong></p>
      <p>Email: <strong>{{!email ? "click a name to see details" : email}}</strong></p>
    </div>
  </div> -->
</div>